*.pyc
*.pyo
dev/*
tud_sumo/capacity_drop/*
tud_sumo/ramp_metering/*
tud_sumo/ramp_metering/rm.py
Wiki/*
tud_sumo/rm_plot.py
tud_sumo/examples/create_scenarios.py
*.xml
dist/*
tud_sumo.egg-info/*
setup.cfg
setup.py
pyproject.toml
Build/*